<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title><%= title %></title>
	<meta name="description" content="Website description"/>
	<meta rel="shortcut icon" href="/icons/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/styles/default.css" type="text/css"/>
</head>

<body>

<!--header-->
<header>
	Header here
</header>
