<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title><%= title %></title>
	<meta name="description" content="Website description"/>
	<link rel="shortcut icon" href="/icons/favicon.png" type="image/png"/>
	<link rel="stylesheet" href="/styles/default.css" type="text/css"/>
</head>

<body>

<!--header-->
<header>
    <img src="/icons/logo.png" alt="Logo"/>
    <nav>
        <% if (tab === "home") { %>
            <a href="/home" class="selected">Home</a>
            <a href="/about">About</a>
        <% } else if (tab === "about") { %> 
            <a href="/home">Home</a>
            <a href="/about" class="selected">About</a>
        <% } %>
    </nav>
</header>
