<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title><%= title %></title>
	<meta name="description" content="Website description"/>
	<link rel="shortcut icon" href="/icons/favicon.png" type="image/png"/>
	<link rel="stylesheet" href="/styles/default.css" type="text/css"/>
</head>

<body>

<!--header-->
<header>
    <img src="/icons/logo.png" alt="Logo"/>
    <nav>
        Navigation toolbar here
    </nav>
</header>
