<%- include("partials/head", {title: "Koku Music"}); %>

<h1>
	Koku Music
</h1>
<div id="player">
    Player Here
</div>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan nibh purus, imperdiet iaculis purus ultricies vel. Phasellus mi tellus, molestie ac diam sit amet, aliquam elementum lacus. Etiam placerat facilisis velit nec aliquet. Praesent mollis vulputate purus eget ultricies. Etiam pellentesque, purus non gravida porta, arcu nisl consectetur elit, a maximus arcu neque eu leo. Suspendisse et tristique lectus, non ultricies nunc. Nunc commodo lorem non tempor scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin ac ullamcorper odio. Nulla condimentum commodo arcu, non aliquet enim sagittis at. Nullam dapibus lorem quis faucibus consequat. Cras vehicula dolor nec urna scelerisque posuere. Nullam in dolor eu leo aliquet sagittis in in turpis. Etiam eget erat imperdiet, viverra purus a, rutrum magna.

	Suspendisse id gravida dolor, sit amet accumsan nulla. Fusce feugiat odio ut varius euismod. Etiam placerat ipsum vitae vehicula commodo. Suspendisse vehicula vulputate mi, id ornare lorem tempor sed. Duis vel sem et enim vestibulum iaculis a vestibulum turpis. Duis bibendum fermentum tempus. In consequat orci sit amet molestie accumsan. Morbi sagittis eleifend rhoncus. Vivamus tempus mi quis justo pellentesque, eu dignissim ipsum blandit. Ut efficitur ipsum enim, sed elementum sapien euismod sed. Nulla dapibus ullamcorper felis, eu ullamcorper dui fringilla a. Vestibulum sed vehicula lacus. Integer quis erat rhoncus arcu porttitor mattis.

	Curabitur vel sem ut nisi eleifend dapibus. Nunc egestas sapien in risus molestie vestibulum. Phasellus consectetur malesuada tincidunt. Sed ornare pellentesque massa at vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed porta mollis fermentum. Praesent ullamcorper velit vitae dolor ornare bibendum. Suspendisse interdum finibus enim. Ut vitae porta dolor, id tempor nulla. Cras non lacinia urna. Integer ut hendrerit odio, sit amet imperdiet sem. Nam gravida bibendum urna, sit amet interdum dolor mattis malesuada.

	Quisque eu venenatis ante, ut pharetra diam. Donec eget tortor vel magna vestibulum egestas. In velit purus, ullamcorper sit amet porttitor ut, iaculis sed orci. Proin ut ipsum ullamcorper, ultricies purus ut, sagittis ipsum. Cras sed vehicula massa. Duis vitae risus neque. Aliquam non auctor turpis, id aliquam nibh. Sed interdum nulla quis ex ultrices facilisis.

	Donec commodo ipsum sit amet orci pellentesque ullamcorper. Nam quis blandit felis. Aliquam interdum euismod orci, non ultrices turpis luctus sed. Maecenas id fringilla purus. Etiam sed tristique est. Nullam at leo purus. Nulla in vulputate dui. 
</p>

<%- include("partials/footer"); %>
