body {
	font-family: Merriweather, serif;
	font-size: 1.3rem;
	font-weight: lighter;
	color: #252525;
	border: 1px solid black;
	margin: 0;
    padding: 0; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: Open Sans, sans-serif;
	color: #383838;
	border: 1px solid black;
}

h1 {
	font-size: 3.2rem;
	text-align: center;
	margin: 0 auto;
}

p {
	text-align: justify;
	margin: 0 15%;
	border: 1px solid black;
}

header, footer {
	border: 1px solid black;
}

nav .selected {
    background-color: #dddddd;
}

.musics {
    margin: 0 15%;
    padding: 0;
    border: 1px solid black;
}

.music-info {
    margin: auto 0;
}

.music {
    margin: 0;
    padding: 0;
    border: 1px solid black; 
    display: flex;
    justify-content: space-between;
}

.music-title {
    margin: 0;
    padding: 0;
}

.music-release {
    border: 1px solid black;
}

.music-style {
    border: 1px solid black;
}

.music-download {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    /*margin: 0 auto;*/
    border: 1px solid black;
}
