body {
	font-family: Merriweather, serif;
	font-size: 1.3rem;
	font-weight: lighter;
	color: #252525;
	border: 1px solid black;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Open Sans, sans-serif;
	color: #383838;
	border: 1px solid black;
}

h1 {
	font-size: 3.2rem;
	text-align: center;
	margin: 0 auto;
}

p {
	text-align: justify;
	margin: 0 15%;
	border: 1px solid black;
}

header, footer {
	border: 1px solid black;
}

